
body{
    background-image: url(https://th.bing.com/th/id/OIP.YMgH_dnMkbArXPYdaT54dAHaEK?w=321&h=181&c=7&r=0&o=5&dpr=1.5&pid=1.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(235, 243, 238);
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 60px;
}

#countown{
    display: flex;
    transform: scale(1.5);
}
 #time{
    margin: 12px;
}
#time h2{
    margin-bottom: 5px;
    margin-top: 0px;
}
#year{
    font-size: 180px;
    position: absolute;
    bottom: 20px;
    opacity: 0.2;
} 